In [4]:
import pandas as pd

In [5]:
kospi100=pd.read_csv("/Users/lucy/Downloads/복사본 KRX100재무주가.csv")

In [6]:
per100=pd.read_csv("/Users/lucy/Downloads/전종목_PER_PBR_20221103.csv")

In [7]:
per100

,종목코드,종목명,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
0,060310,3S,"2,405",-50,-2.04,33,72.88,-,-,829,2.90,0,0.00
1,095570,AJ네트웍스,"6,160",80,1.32,"1,707",3.61,861,7.16,"8,075",0.76,270,4.38
2,006840,AK홀딩스,"12,000",300,2.56,-,-,-,-,"45,961",0.26,200,1.67
3,054620,APS홀딩스,"11,500",-100,-0.86,"1,179",9.75,-,-,"10,088",1.14,100,0.87
4,265520,AP시스템,"17,050",0,0.00,"3,932",4.34,"3,833",4.45,"12,713",1.34,240,1.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2489,000547,흥국화재2우B,"19,550",-700,-3.46,-,-,-,-,-,-,0,0.00
2490,000545,흥국화재우,"6,200",-230,-3.58,-,-,-,-,-,-,0,0.00
2491,003280,흥아해운,"1,445",-50,-3.34,118,12.25,-,-,428,3.38,0,0.00
2492,037440,희림,"11,850","2,480",26.47,490,24.18,-,-,"4,769",2.48,150,1.27
2493,238490,힘스,"5,800",-20,-0.34,-,-,-,-,"6,598",0.88,100,1.72

In [9]:
kospi100

,Symbol,A005930,A005930.1,A373220,A373220.1,A207940,A207940.1,A000660,A000660.1,A006400,...,A042660,A042660.1,A006360,A006360.1,A196170,A196170.1,A035760,A035760.1,A096530,A096530.1
0,Symbol Name,삼성전자,삼성전자,LG에너지솔루션,LG에너지솔루션,삼성바이오로직스,삼성바이오로직스,SK하이닉스,SK하이닉스,삼성SDI,...,대우조선해양,대우조선해양,GS건설,GS건설,알테오젠,알테오젠,CJ ENM,CJ ENM,씨젠,씨젠
1,Item Name,수정주가(원),종가(원),수정주가(원),종가(원),수정주가(원),종가(원),수정주가(원),종가(원),수정주가(원),...,수정주가(원),종가(원),수정주가(원),종가(원),수정주가(원),종가(원),수정주가(원),종가(원),수정주가(원),종가(원)
2,2010-01-04,"16,180","809,000",NaN,NaN,NaN,NaN,"24,100","24,100","148,000",...,"87,250","17,450","98,481","106,500",NaN,NaN,"141,934","76,700",NaN,NaN
3,2010-01-05,"16,440","822,000",NaN,NaN,NaN,NaN,"23,350","23,350","144,000",...,"88,250","17,650","100,330","108,500",NaN,NaN,"142,675","77,100",NaN,NaN
4,2010-01-06,"16,820","841,000",NaN,NaN,NaN,NaN,"24,550","24,550","144,500",...,"92,000","18,400","102,180","110,500",NaN,NaN,"143,970","77,800",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,2022-10-25,"57,700","57,700","511,000","511,000","884,000","884,000","93,500","93,500","655,000",...,"18,050","18,050","21,750","21,750","35,900","35,900","76,700","76,700","29,700","29,700"
3163,2022-10-26,"59,400","59,400","529,000","529,000","896,000","896,000","93,900","93,900","677,000",...,"17,600","17,600","21,300","21,300","34,950","34,950","74,000","74,000","29,500","29,500"
3164,2022-10-27,"59,500","59,500","540,000","540,000","873,000","873,000","90,000","90,000","727,000",...,"18,050","18,050","22,650","22,650","36,750","36,750","76,200","76,200","29,550","29,550"
3165,2022-10-28,"57,300","57,300","532,000","532,000","876,000","876,000","83,400","83,400","727,000",...,"18,450","18,450","22,350","22,350","36,700","36,700","74,100","74,100","29,100","29,100"
3166,2022-10-31,"59,400","59,400","528,000","528,000","877,000","877,000","82,700","82,700","737,000",...,"18,300","18,300","21,700","21,700","36,700","36,700","73,400","73,400","28,700","28,700"

In [10]:
# per100의 종목명과 kospi100의 첫번째 행을 inner join해야 한다

In [11]:
#kospi100의 첫번째 행만 남겨두고 이걸 열로 바꿔보자

In [17]:
kospi100=kospi100.T # 전치시켜서 바꿈

In [18]:
kospi100

,0,1,2,3,4,5,6,7,8,9,...,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166
Symbol,Symbol Name,Item Name,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,...,2022-10-18,2022-10-19,2022-10-20,2022-10-21,2022-10-24,2022-10-25,2022-10-26,2022-10-27,2022-10-28,2022-10-31
A005930,삼성전자,수정주가(원),"16,180","16,440","16,820","16,260","16,420","15,940","16,180","15,940",...,"56,500","55,800","55,500","55,900","57,500","57,700","59,400","59,500","57,300","59,400"
A005930.1,삼성전자,종가(원),"809,000","822,000","841,000","813,000","821,000","797,000","809,000","797,000",...,"56,500","55,800","55,500","55,900","57,500","57,700","59,400","59,500","57,300","59,400"
A373220,LG에너지솔루션,수정주가(원),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"489,000","497,500","495,000","499,000","509,000","511,000","529,000","540,000","532,000","528,000"
A373220.1,LG에너지솔루션,종가(원),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"489,000","497,500","495,000","499,000","509,000","511,000","529,000","540,000","532,000","528,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A196170.1,알테오젠,종가(원),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"42,250","41,550","40,400","40,850","42,200","35,900","34,950","36,750","36,700","36,700"
A035760,CJ ENM,수정주가(원),"141,934","142,675","143,970","140,084","137,123","134,902","136,938","130,091",...,"79,700","78,800","79,700","78,800","80,400","76,700","74,000","76,200","74,100","73,400"
A035760.1,CJ ENM,종가(원),"76,700","77,100","77,800","75,700","74,100","72,900","74,000","70,300",...,"79,700","78,800","79,700","78,800","80,400","76,700","74,000","76,200","74,100","73,400"
A096530,씨젠,수정주가(원),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"30,100","29,400","29,500","28,900","30,000","29,700","29,500","29,550","29,100","28,700"
A096530.1,씨젠,종가(원),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"30,100","29,400","29,500","28,900","30,000","29,700","29,500","29,550","29,100","28,700"

In [22]:
kospi100=kospi100[[0]]

In [23]:
kospi100

                     0
Symbol     Symbol Name
A005930           삼성전자
A005930.1         삼성전자
A373220       LG에너지솔루션
A373220.1     LG에너지솔루션
...                ...
A196170.1         알테오젠
A035760         CJ ENM
A035760.1       CJ ENM
A096530             씨젠
A096530.1           씨젠

[201 rows x 1 columns]

In [24]:
kospi100.rename(columns={0:'종목명'},inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [25]:
kospi100

                   종목명
Symbol     Symbol Name
A005930           삼성전자
A005930.1         삼성전자
A373220       LG에너지솔루션
A373220.1     LG에너지솔루션
...                ...
A196170.1         알테오젠
A035760         CJ ENM
A035760.1       CJ ENM
A096530             씨젠
A096530.1           씨젠

[201 rows x 1 columns]

In [27]:
# 중복제거
kospi100=kospi100.drop_duplicates(['종목명'])

In [30]:
kospi100['종목명']

Symbol     Symbol Name
A005930           삼성전자
A373220       LG에너지솔루션
A207940       삼성바이오로직스
A000660         SK하이닉스
              ...
A042660         대우조선해양
A006360           GS건설
A196170           알테오젠
A035760         CJ ENM
A096530             씨젠
Name: 종목명, Length: 101, dtype: object

In [31]:
#per100과 innerjoin을 하고 이걸 새로운 데이트프레임 kospi100per에 저장한다

In [32]:
# 이렇게 되면 kospi100의 per을 가진 csv 추출이 가능해진다

In [64]:
kospi100per=pd.merge(kospi100,per100,on="종목명", how="outer")

In [69]:
df_LEFT_JOIN = pd.merge(per100, kospi100, left_on='종목명', right_on='종목명', how='left')
df_LEFT_JOIN
df_LEFT_JOIN.to_csv("df_LEFT_JOIN.csv")

In [65]:
kospi100per

,index,종목명,종목코드,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
0,Symbol,Symbol Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A005930,삼성전자,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A373220,LG에너지솔루션,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A207940,삼성바이오로직스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A000660,SK하이닉스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2590,NaN,흥국화재2우B,000547,"19,550",-700,-3.46,-,-,-,-,-,-,0,0.00
2591,NaN,흥국화재우,000545,"6,200",-230,-3.58,-,-,-,-,-,-,0,0.00
2592,NaN,흥아해운,003280,"1,445",-50,-3.34,118,12.25,-,-,428,3.38,0,0.00
2593,NaN,희림,037440,"11,850","2,480",26.47,490,24.18,-,-,"4,769",2.48,150,1.27
2594,NaN,힘스,238490,"5,800",-20,-0.34,-,-,-,-,"6,598",0.88,100,1.72

In [66]:
kospi100per.to_csv("kospi100per.csv")

In [58]:
tmpA=per100.join(kospi100,how='left')

ValueError: columns overlap but no suffix specified: Index(['종목명'], dtype='object')

In [46]:
kospi100per

Empty DataFrame
Columns: [종목명, 종목코드, 종가, 대비, 등락률, EPS, PER, 선행 EPS, 선행 PER, BPS, PBR, 주당배당금, 배당수익률]
Index: []

In [49]:
per100['종목명']

0            3S
1        AJ네트웍스
2         AK홀딩스
3        APS홀딩스
4         AP시스템
          ...
2489    흥국화재2우B
2490      흥국화재우
2491       흥아해운
2492         희림
2493         힘스
Name: 종목명, Length: 2494, dtype: object

In [50]:
kospi100['종목명']

Symbol     Symbol Name
A005930           삼성전자
A373220       LG에너지솔루션
A207940       삼성바이오로직스
A000660         SK하이닉스
              ...
A042660         대우조선해양
A006360           GS건설
A196170           알테오젠
A035760         CJ ENM
A096530             씨젠
Name: 종목명, Length: 101, dtype: object

In [54]:
#kospi100
kospi100=kospi100.rename_axis('index').reset_index()

In [52]:
per100

,종목코드,종목명,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
0,060310,3S,"2,405",-50,-2.04,33,72.88,-,-,829,2.90,0,0.00
1,095570,AJ네트웍스,"6,160",80,1.32,"1,707",3.61,861,7.16,"8,075",0.76,270,4.38
2,006840,AK홀딩스,"12,000",300,2.56,-,-,-,-,"45,961",0.26,200,1.67
3,054620,APS홀딩스,"11,500",-100,-0.86,"1,179",9.75,-,-,"10,088",1.14,100,0.87
4,265520,AP시스템,"17,050",0,0.00,"3,932",4.34,"3,833",4.45,"12,713",1.34,240,1.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2489,000547,흥국화재2우B,"19,550",-700,-3.46,-,-,-,-,-,-,0,0.00
2490,000545,흥국화재우,"6,200",-230,-3.58,-,-,-,-,-,-,0,0.00
2491,003280,흥아해운,"1,445",-50,-3.34,118,12.25,-,-,428,3.38,0,0.00
2492,037440,희림,"11,850","2,480",26.47,490,24.18,-,-,"4,769",2.48,150,1.27
2493,238490,힘스,"5,800",-20,-0.34,-,-,-,-,"6,598",0.88,100,1.72

In [55]:
kospi100

       index          종목명
0     Symbol  Symbol Name
1    A005930         삼성전자
2    A373220     LG에너지솔루션
3    A207940     삼성바이오로직스
4    A000660       SK하이닉스
..       ...          ...
96   A042660       대우조선해양
97   A006360         GS건설
98   A196170         알테오젠
99   A035760       CJ ENM
100  A096530           씨젠

[101 rows x 2 columns]

In [70]:
# per100 전체 탐색
# per100의 종목명이 Kospi100 종목명과 같다면
# csv100에 write한다
# 그렇지 않다면 continue한다

"""
import csv    
f = open('output.csv', 'w', encoding='utf-8', newline='')
wr = csv.writer(f)
wr.writerow([1, "김정수", False])
wr.writerow([2, "박상미", True])
f.close()
"""

'\nimport csv    \nf = open(\'output.csv\', \'w\', encoding=\'utf-8\', newline=\'\')\nwr = csv.writer(f)\nwr.writerow([1, "김정수", False])\nwr.writerow([2, "박상미", True])\nf.close()\n'

In [71]:
import csv

In [72]:
#f = open('output.csv', 'w', encoding='utf-8', newline='')

In [95]:
kospi100_arr=[]
for i in range(1,101):
    print(kospi100['종목명'][i])
    kospi100_arr.append(str(kospi100['종목명'][i]))

삼성전자
LG에너지솔루션
삼성바이오로직스
SK하이닉스
삼성SDI
LG화학
현대차
기아
셀트리온
NAVER
삼성물산
카카오
POSCO홀딩스
현대모비스
KB금융
신한지주
SK
SK이노베이션
포스코케미칼
삼성생명
LG전자
KT&G
LG
고려아연
하나금융지주
에코프로비엠
SK텔레콤
한국전력
셀트리온헬스케어
S-Oil
현대중공업
삼성화재
KT
삼성에스디에스
한화솔루션
HMM
삼성전기
두산에너빌리티
우리금융지주
크래프톤
대한항공
엔씨소프트
엘앤에프
LG생활건강
기업은행
카카오뱅크
LG이노텍
현대글로비스
CJ제일제당
SK바이오사이언스
F&F
아모레퍼시픽
SK스퀘어
한국조선해양
롯데케미칼
강원랜드
LG유플러스
하이브
HD현대
삼성엔지니어링
삼성중공업
HLB
카카오페이
한국타이어앤테크놀로지
LG디스플레이
SK바이오팜
한국항공우주
유한양행
GS
한온시스템
코웨이
오리온
DB손해보험
SKC
미래에셋증권
현대건설
금호석유
현대제철
넷마블
SK아이이테크놀로지
메리츠화재
두산밥캣
한국가스공사
카카오게임즈
한미약품
에스디바이오센서
삼성증권
호텔신라
한국금융지주
일진머티리얼즈
펄어비스
셀트리온제약
OCI
이마트
팬오션
대우조선해양
GS건설
알테오젠
CJ ENM
씨젠

In [97]:
#kospi100_arr
for i in range(len(kospi100_arr)):
    print(kospi100_arr[i])

삼성전자
LG에너지솔루션
삼성바이오로직스
SK하이닉스
삼성SDI
LG화학
현대차
기아
셀트리온
NAVER
삼성물산
카카오
POSCO홀딩스
현대모비스
KB금융
신한지주
SK
SK이노베이션
포스코케미칼
삼성생명
LG전자
KT&G
LG
고려아연
하나금융지주
에코프로비엠
SK텔레콤
한국전력
셀트리온헬스케어
S-Oil
현대중공업
삼성화재
KT
삼성에스디에스
한화솔루션
HMM
삼성전기
두산에너빌리티
우리금융지주
크래프톤
대한항공
엔씨소프트
엘앤에프
LG생활건강
기업은행
카카오뱅크
LG이노텍
현대글로비스
CJ제일제당
SK바이오사이언스
F&F
아모레퍼시픽
SK스퀘어
한국조선해양
롯데케미칼
강원랜드
LG유플러스
하이브
HD현대
삼성엔지니어링
삼성중공업
HLB
카카오페이
한국타이어앤테크놀로지
LG디스플레이
SK바이오팜
한국항공우주
유한양행
GS
한온시스템
코웨이
오리온
DB손해보험
SKC
미래에셋증권
현대건설
금호석유
현대제철
넷마블
SK아이이테크놀로지
메리츠화재
두산밥캣
한국가스공사
카카오게임즈
한미약품
에스디바이오센서
삼성증권
호텔신라
한국금융지주
일진머티리얼즈
펄어비스
셀트리온제약
OCI
이마트
팬오션
대우조선해양
GS건설
알테오젠
CJ ENM
씨젠

In [74]:
for i in range(100):
    print(per100['종목명'][i])

3S
AJ네트웍스
AK홀딩스
APS홀딩스
AP시스템
AP위성
BGF
BGF리테일
BNGT
BNK금융지주
BYC
BYC우
CBI
CJ
CJ CGV
CJ ENM
CJ 바이오사이언스
CJ4우(전환)
CJ대한통운
CJ씨푸드
CJ씨푸드1우
CJ우
CJ제일제당
CJ제일제당 우
CJ프레시웨이
CMG제약
CNH
CNT85
CS
CSA 코스믹
CS홀딩스
DB
DB금융스팩10호
DB금융스팩8호
DB금융스팩9호
DB금융투자
DB손해보험
DB하이텍
DB하이텍1우
DGB금융지주
DI동일
DL
DL건설
DL우
DL이앤씨
DL이앤씨2우(전환)
DL이앤씨우
DMS
DN오토모티브
DRB동일
DSC인베스트먼트
DSR
DSR제강
E1
EDGC
EG
ES큐브
EV수성
F&F
F&F홀딩스
FSN
GH신소재
GKL
GS
GST
GS건설
GS글로벌
GS리테일
GS우
HB솔루션
HB테크놀러지
HDC
HDC랩스
HDC현대EP
HDC현대산업개발
HD현대
HJ중공업
HK이노엔
HL D&I
HLB
HLB글로벌
HLB생명과학
HLB제약
HLB테라퓨틱스
HL만도
HL홀딩스
HMM
HPSP
HRS
HSD엔진
IBKS제13호스팩
IBKS제16호스팩
IBKS제17호스팩
IBKS제18호스팩
IBKS제19호스팩
IBKS제20호스팩
IHQ
ISC
ITX-AI
JB금융지주

In [81]:
per100.iloc[1]

종목코드       095570
종목명       AJ네트웍스
종가          6,160
대비             80
등락률          1.32
EPS         1,707
PER          3.61
선행 EPS        861
선행 PER       7.16
BPS         8,075
PBR          0.76
주당배당금         270
배당수익률        4.38
Name: 1, dtype: object

In [ ]:
import csv    
f = open('output.csv', 'w', encoding='utf-8', newline='')
wr = csv.writer(f)
wr.writerow([1, "김정수", False])
wr.writerow([2, "박상미", True])
f.close()

In [147]:
#kospi100_arr :kospi100 종목명 담겨있음
import csv    
f = open('output.csv', 'w', encoding='utf-8', newline='')
wr=csv.writer(f)
for i in range(2494):
    #per100['종목명'][i]
    #print("'"+per100['종목명'][i].strip()+"'")
    if (per100['종목명'][i].strip()) in kospi100_arr:
        print('참')
        print(per100.iloc[i])
        wr.writerow(per100.iloc[i])
        
    else:
        continue
f.close()

참
종목코드       035760
종목명       CJ ENM
종가         73,800
대비         -2,400
등락률         -3.15
EPS         9,332
PER          7.91
선행 EPS      7,576
선행 PER       9.74
BPS       182,220
PBR          0.41
주당배당금       2,100
배당수익률        2.85
Name: 15, dtype: object
참
종목코드       097950
종목명       CJ제일제당
종가        427,000
대비           -500
등락률         -0.12
EPS        38,246
PER         11.16
선행 EPS     50,232
선행 PER       8.50
BPS       381,542
PBR          1.12
주당배당금       5,000
배당수익률        1.17
Name: 22, dtype: object
참
종목코드       005830
종목명       DB손해보험
종가         56,300
대비         -1,300
등락률         -2.26
EPS        14,482
PER          3.89
선행 EPS     11,963
선행 PER       4.71
BPS       110,605
PBR          0.51
주당배당금       3,500
배당수익률        6.22
Name: 36, dtype: object
참
종목코드       383220
종목명          F&F
종가        143,000
대비         -3,500
등락률         -2.39
EPS         6,061
PER         23.59
선행 EPS     13,887
선행 PER      10.30
BPS        14,307
PBR         10.00
주당배당금       1,100
배당수익률        0.77
Name: 58, dtype: object
참
종목코드       078930
종목명           GS
종가         46,100
대비           -300
등락률         -0.65
EPS        15,304
PER          3.01
선행 EPS     18,055
선행 PER       2.55
BPS       108,672
PBR          0.42
주당배당금       2,000
배당수익률        4.34
Name: 63, dtype: object
참
종목코드      006360
종목명        GS건설
종가        22,250
대비          -350
등락률        -1.55
EPS        4,834
PER         4.60
선행 EPS     5,728
선행 PER      3.88
BPS       54,487
PBR         0.41
주당배당금      1,300
배당수익률       5.84
Name: 65, dtype: object
참
종목코드      267250
종목명        HD현대
종가        61,400
대비             0
등락률          0.0
EPS            -
PER            -
선행 EPS    16,188
선행 PER      3.79
BPS       89,404
PBR         0.69
주당배당금      5,550
배당수익률       9.04
Name: 75, dtype: object
참
종목코드      028300
종목명         HLB
종가        37,700
대비          -900
등락률        -2.33
EPS            -
PER            -
선행 EPS         -
선행 PER         -
BPS        4,009
PBR         9.40
주당배당금          0
배당수익률        0.0
Name: 79, dtype: object
참
종목코드      011200
종목명         HMM
종가        18,300
대비          -700
등락률        -3.68
EPS       13,506
PER         1.35
선행 EPS    11,489
선행 PER      1.59
BPS       21,179
PBR         0.86
주당배당금        600
배당수익률       3.28
Name: 86, dtype: object
참
종목코드       105560
종목명         KB금융
종가         47,500
대비           -400
등락률         -0.84
EPS        11,134
PER          4.27
선행 EPS     12,001
선행 PER       3.96
BPS       121,808
PBR          0.39
주당배당금       2,940
배당수익률        6.19
Name: 109, dtype: object
참
종목코드      030200
종목명          KT
종가        35,800
대비          -300
등락률        -0.83
EPS        5,759
PER         6.22
선행 EPS     5,074
선행 PER      7.06
BPS       63,512
PBR         0.56
주당배당금      1,910
배당수익률       5.34
Name: 136, dtype: object
참
종목코드      033780
종목명        KT&G
종가        93,900
대비          -600
등락률        -0.63
EPS        7,898
PER        11.89
선행 EPS     7,922
선행 PER     11.85
BPS       76,336
PBR         1.23
주당배당금      4,800
배당수익률       5.11
Name: 137, dtype: object
참
종목코드       003550
종목명           LG
종가         80,800
대비           -300
등락률         -0.37
EPS        15,504
PER          5.21
선행 EPS     13,913
선행 PER       5.81
BPS       132,574
PBR          0.61
주당배당금       2,800
배당수익률        3.47
Name: 144, dtype: object
참
종목코드        034220
종목명       LG디스플레이
종가          12,900
대비            -300
등락률          -2.27
EPS          3,315
PER           3.89
선행 EPS           -
선행 PER           -
BPS         36,664
PBR           0.35
주당배당금          650
배당수익률         5.04
Name: 145, dtype: object
참
종목코드       051900
종목명       LG생활건강
종가        522,000
대비        -13,000
등락률         -2.43
EPS        50,395
PER         10.36
선행 EPS     32,124
선행 PER      16.25
BPS       321,556
PBR          1.62
주당배당금      12,000
배당수익률         2.3
Name: 146, dtype: object
참
종목코드         373220
종목명       LG에너지솔루션
종가          589,000
대비           20,000
등락률            3.51
EPS           3,963
PER          148.62
선행 EPS        7,108
선행 PER        82.86
BPS          39,831
PBR           14.79
주당배당금             0
배당수익률           0.0
Name: 148, dtype: object
참
종목코드       032640
종목명       LG유플러스
종가         11,250
대비           -100
등락률         -0.88
EPS         1,642
PER          6.85
선행 EPS      1,690
선행 PER       6.66
BPS        17,852
PBR          0.63
주당배당금         550
배당수익률        4.89
Name: 150, dtype: object
참
종목코드       011070
종목명        LG이노텍
종가        283,000
대비         -5,000
등락률         -1.74
EPS        37,537
PER          7.54
선행 EPS     54,851
선행 PER       5.16
BPS       140,050
PBR          2.02
주당배당금       3,000
배당수익률        1.06
Name: 151, dtype: object
참
종목코드      066570
종목명        LG전자
종가        82,800
대비          -900
등락률        -1.08
EPS        5,725
PER        14.46
선행 EPS    10,754
선행 PER      7.70
BPS       95,691
PBR         0.87
주당배당금        850
배당수익률       1.03
Name: 152, dtype: object
참
종목코드       051910
종목명         LG화학
종가        683,000
대비         11,000
등락률          1.64
EPS        47,108
PER         14.50
선행 EPS     36,616
선행 PER      18.65
BPS       278,455
PBR          2.45
주당배당금      12,000
배당수익률        1.76
Name: 155, dtype: object
참
종목코드       035420
종목명        NAVER
종가        169,000
대비         -5,000
등락률         -2.87
EPS       110,854
PER          1.52
선행 EPS      8,271
선행 PER      20.43
BPS       157,641
PBR          1.07
주당배당금         511
배당수익률         0.3
Name: 170, dtype: object
참
종목코드       010060
종목명          OCI
종가        101,000
대비         -2,500
등락률         -2.42
EPS        27,387
PER          3.69
선행 EPS     32,594
선행 PER       3.10
BPS       128,783
PBR          0.78
주당배당금       2,000
배당수익률        1.98
Name: 183, dtype: object
참
종목코드         005490
종목명       POSCO홀딩스
종가          258,000
대비             -500
등락률           -0.19
EPS          87,330
PER            2.95
선행 EPS       49,590
선행 PER         5.20
BPS         666,803
PBR            0.39
주당배당금        17,000
배당수익률          6.59
Name: 186, dtype: object
참
종목코드      010950
종목명       S-Oil
종가        89,700
대비        -2,200
등락률        -2.39
EPS       11,840
PER         7.58
선행 EPS    16,125
선행 PER      5.56
BPS       60,024
PBR         1.49
주당배당금      3,800
배당수익률       4.24
Name: 190, dtype: object
참
종목코드       034730
종목명           SK
종가        219,500
대비          1,000
등락률          0.46
EPS        37,408
PER          5.87
선행 EPS     31,564
선행 PER       6.95
BPS       375,047
PBR          0.59
주당배당금       8,000
배당수익률        3.64
Name: 212, dtype: object
참
종목코드       011790
종목명          SKC
종가        107,000
대비          3,500
등락률          3.38
EPS         6,174
PER         17.33
선행 EPS      4,711
선행 PER      22.71
BPS        55,782
PBR          1.92
주당배당금       1,100
배당수익률        1.03
Name: 213, dtype: object
참
종목코드          302440
종목명       SK바이오사이언스
종가            80,700
대비            -2,900
등락률            -3.47
EPS            4,844
PER            16.66
선행 EPS         1,773
선행 PER         45.53
BPS           20,932
PBR             3.86
주당배당금              0
배당수익률            0.0
Name: 221, dtype: object
참
종목코드       326030
종목명       SK바이오팜
종가         59,400
대비           -800
등락률         -1.33
EPS           828
PER         71.74
선행 EPS          -
선행 PER          -
BPS         5,672
PBR         10.47
주당배당금           0
배당수익률         0.0
Name: 222, dtype: object
참
종목코드       402340
종목명        SK스퀘어
종가         36,850
대비           -350
등락률         -0.94
EPS         2,653
PER         13.89
선행 EPS      6,997
선행 PER       5.27
BPS       117,868
PBR          0.31
주당배당금           0
배당수익률         0.0
Name: 223, dtype: object
참
종목코드           361610
종목명       SK아이이테크놀로지
종가             55,700
대비             -4,300
등락률             -7.17
EPS             1,394
PER             39.96
선행 EPS          1,693
선행 PER          32.90
BPS            31,084
PBR              1.79
주당배당금               0
배당수익률             0.0
Name: 224, dtype: object
참
종목코드        096770
종목명       SK이노베이션
종가         189,500
대비           6,000
등락률           3.27
EPS          3,640
PER          52.06
선행 EPS      23,096
선행 PER        8.20
BPS        206,117
PBR           0.92
주당배당금        2,508
배당수익률         1.32
Name: 226, dtype: object
참
종목코드      017670
종목명       SK텔레콤
종가        50,400
대비           100
등락률          0.2
EPS        7,191
PER         7.01
선행 EPS     5,187
선행 PER      9.72
BPS       53,218
PBR         0.95
주당배당금      3,295
배당수익률       6.54
Name: 232, dtype: object
참
종목코드       000660
종목명       SK하이닉스
종가         82,700
대비         -1,800
등락률         -2.13
EPS        13,989
PER          5.91
선행 EPS        990
선행 PER      83.56
BPS        90,394
PBR          0.91
주당배당금       1,540
배당수익률        1.86
Name: 233, dtype: object
참
종목코드      035250
종목명        강원랜드
종가        23,000
대비            50
등락률         0.22
EPS            -
PER            -
선행 EPS     1,572
선행 PER     14.63
BPS       16,044
PBR         1.43
주당배당금          0
배당수익률        0.0
Name: 272, dtype: object
참
종목코드       010130
종목명         고려아연
종가        586,000
대비        -35,000
등락률         -5.64
EPS        45,648
PER         12.84
선행 EPS     43,936
선행 PER      13.34
BPS       430,439
PBR          1.36
주당배당금      20,000
배당수익률        3.41
Name: 294, dtype: object
참
종목코드       011780
종목명         금호석유
종가        134,500
대비         -3,000
등락률         -2.18
EPS        70,433
PER          1.91
선행 EPS     25,315
선행 PER       5.31
BPS       181,037
PBR          0.74
주당배당금      10,000
배당수익률        7.43
Name: 342, dtype: object
참
종목코드      000270
종목명          기아
종가        64,500
대비        -1,700
등락률        -2.57
EPS       11,874
PER         5.43
선행 EPS    15,711
선행 PER      4.11
BPS       87,073
PBR         0.74
주당배당금      3,000
배당수익률       4.65
Name: 351, dtype: object
참
종목코드      024110
종목명        기업은행
종가        10,400
대비          -100
등락률        -0.95
EPS        2,877
PER         3.61
선행 EPS     3,549
선행 PER      2.93
BPS       34,345
PBR         0.30
주당배당금        780
배당수익률        7.5
Name: 352, dtype: object
참
종목코드      251270
종목명         넷마블
종가        45,000
대비        -2,550
등락률        -5.36
EPS        2,933
PER        15.34
선행 EPS     1,047
선행 PER     43.00
BPS       70,683
PBR         0.64
주당배당금        528
배당수익률       1.17
Name: 407, dtype: object
참
종목코드       042660
종목명       대우조선해양
종가         18,350
대비           -300
등락률         -1.61
EPS             -
PER             -
선행 EPS        704
선행 PER      26.07
BPS        20,672
PBR          0.89
주당배당금           0
배당수익률         0.0
Name: 495, dtype: object
참
종목코드      003490
종목명        대한항공
종가        22,800
대비           -50
등락률        -0.22
EPS        1,743
PER        13.08
선행 EPS     3,308
선행 PER      6.89
BPS       19,356
PBR         1.18
주당배당금          0
배당수익률        0.0
Name: 529, dtype: object
참
종목코드      241560
종목명        두산밥캣
종가        35,100
대비           550
등락률         1.59
EPS        3,845
PER         9.13
선행 EPS     5,666
선행 PER      6.19
BPS       43,105
PBR         0.81
주당배당금      1,200
배당수익률       3.42
Name: 611, dtype: object
참
종목코드        034020
종목명       두산에너빌리티
종가          14,950
대비             550
등락률           3.82
EPS          1,052
PER          14.21
선행 EPS         752
선행 PER       19.87
BPS         11,261
PBR           1.33
주당배당금            0
배당수익률          0.0
Name: 612, dtype: object
참
종목코드       011170
종목명        롯데케미칼
종가        159,000
대비         -1,000
등락률         -0.63
EPS        39,260
PER          4.05
선행 EPS     17,022
선행 PER       9.34
BPS       420,424
PBR          0.38
주당배당금       8,300
배당수익률        5.22
Name: 701, dtype: object
참
종목코드      000060
종목명       메리츠화재
종가        31,900
대비          -150
등락률        -0.47
EPS        5,768
PER         5.53
선행 EPS     6,802
선행 PER      4.69
BPS       22,086
PBR         1.44
주당배당금        620
배당수익률       1.94
Name: 744, dtype: object
참
종목코드       006800
종목명       미래에셋증권
종가          6,230
대비           -170
등락률         -2.66
EPS         1,803
PER          3.46
선행 EPS      1,042
선행 PER       5.98
BPS        16,780
PBR          0.37
주당배당금         300
배당수익률        4.82
Name: 786, dtype: object
참
종목코드       006400
종목명        삼성SDI
종가        739,000
대비         14,000
등락률          1.93
EPS        17,492
PER         42.25
선행 EPS     32,453
선행 PER      22.77
BPS       219,885
PBR          3.36
주당배당금       1,000
배당수익률        0.14
Name: 907, dtype: object
참
종목코드       028260
종목명         삼성물산
종가        121,000
대비          2,000
등락률          1.68
EPS         9,913
PER         12.21
선행 EPS     10,327
선행 PER      11.72
BPS       184,352
PBR          0.66
주당배당금       4,200
배당수익률        3.47
Name: 911, dtype: object
참
종목코드         207940
종목명       삼성바이오로직스
종가          870,000
대비           -3,000
등락률           -0.34
EPS           5,879
PER          147.98
선행 EPS       10,682
선행 PER        81.45
BPS          74,551
PBR           11.67
주당배당금             0
배당수익률           0.0
Name: 913, dtype: object
참
종목코드       032830
종목명         삼성생명
종가         66,800
대비           -500
등락률         -0.74
EPS         8,183
PER          8.16
선행 EPS      6,629
선행 PER      10.08
BPS       210,566
PBR          0.32
주당배당금       3,000
배당수익률        4.49
Name: 914, dtype: object
참
종목코드        018260
종목명       삼성에스디에스
종가         125,000
대비            -500
등락률           -0.4
EPS          7,901
PER          15.82
선행 EPS      10,115
선행 PER       12.36
BPS         93,454
PBR           1.34
주당배당금        2,400
배당수익률         1.92
Name: 918, dtype: object
참
종목코드        028050
종목명       삼성엔지니어링
종가          25,750
대비           1,400
등락률           5.75
EPS          1,900
PER          13.55
선행 EPS       2,536
선행 PER       10.15
BPS         10,216
PBR           2.52
주당배당금            0
배당수익률          0.0
Name: 919, dtype: object
참
종목코드       009150
종목명         삼성전기
종가        120,500
대비           -500
등락률         -0.41
EPS        11,811
PER         10.20
선행 EPS     11,975
선행 PER      10.06
BPS        88,937
PBR          1.35
주당배당금       2,100
배당수익률        1.74
Name: 920, dtype: object
참
종목코드      005930
종목명        삼성전자
종가        59,200
대비          -400
등락률        -0.67
EPS        5,777
PER        10.25
선행 EPS     4,133
선행 PER     14.32
BPS       43,611
PBR         1.36
주당배당금      1,444
배당수익률       2.44
Name: 922, dtype: object
참
종목코드      010140
종목명       삼성중공업
종가         5,320
대비           110
등락률         2.11
EPS            -
PER            -
선행 EPS         -
선행 PER         -
BPS        4,813
PBR         1.11
주당배당금          0
배당수익률        0.0
Name: 925, dtype: object
참
종목코드      016360
종목명        삼성증권
종가        31,550
대비          -650
등락률        -2.02
EPS       10,810
PER         2.92
선행 EPS     6,656
선행 PER      4.74
BPS       68,096
PBR         0.46
주당배당금      3,800
배당수익률      12.04
Name: 927, dtype: object
참
종목코드       000810
종목명         삼성화재
종가        201,500
대비         -2,500
등락률         -1.23
EPS        26,399
PER          7.63
선행 EPS     21,079
선행 PER       9.56
BPS       363,848
PBR          0.55
주당배당금      12,000
배당수익률        5.96
Name: 930, dtype: object
참
종목코드       068270
종목명         셀트리온
종가        185,000
대비         -2,500
등락률         -1.33
EPS         4,134
PER         44.75
선행 EPS      5,352
선행 PER      34.57
BPS        28,307
PBR          6.54
주당배당금         750
배당수익률        0.41
Name: 1078, dtype: object
참
종목코드       068760
종목명       셀트리온제약
종가         66,000
대비         -1,700
등락률         -2.51
EPS           921
PER         71.66
선행 EPS          -
선행 PER          -
BPS         8,841
PBR          7.47
주당배당금           0
배당수익률         0.0
Name: 1079, dtype: object
참
종목코드         091990
종목명       셀트리온헬스케어
종가           67,600
대비           -1,400
등락률           -2.03
EPS             977
PER           69.19
선행 EPS        1,552
선행 PER        43.56
BPS          13,473
PBR            5.02
주당배당금           260
배당수익률          0.38
Name: 1080, dtype: object
참
종목코드      055550
종목명        신한지주
종가        35,550
대비          -450
등락률        -1.25
EPS        7,308
PER         4.86
선행 EPS     9,285
선행 PER      3.83
BPS       88,548
PBR         0.40
주당배당금      1,960
배당수익률       5.51
Name: 1166, dtype: object
참
종목코드      096530
종목명          씨젠
종가        29,700
대비          -800
등락률        -2.62
EPS       10,359
PER         2.87
선행 EPS     2,652
선행 PER     11.20
BPS       20,971
PBR         1.42
주당배당금      1,000
배당수익률       3.37
Name: 1203, dtype: object
참
종목코드       090430
종목명       아모레퍼시픽
종가         97,100
대비         -5,400
등락률         -5.27
EPS         2,820
PER         34.43
선행 EPS      3,808
선행 PER      25.50
BPS        69,049
PBR          1.41
주당배당금         980
배당수익률        1.01
Name: 1216, dtype: object
참
종목코드      196170
종목명        알테오젠
종가        34,750
대비        -2,150
등락률        -5.83
EPS            -
PER            -
선행 EPS       209
선행 PER    166.45
BPS        2,634
PBR        13.19
주당배당금          0
배당수익률        0.0
Name: 1290, dtype: object
참
종목코드         137310
종목명       에스디바이오센서
종가           30,350
대비             -350
등락률           -1.14
EPS          10,918
PER            2.78
선행 EPS        4,812
선행 PER         6.31
BPS          21,658
PBR            1.40
주당배당금         1,266
배당수익률          4.17
Name: 1318, dtype: object
참
종목코드       247540
종목명       에코프로비엠
종가        111,600
대비          1,900
등락률          1.73
EPS         1,153
PER         96.79
선행 EPS      4,447
선행 PER      25.09
BPS         5,969
PBR         18.70
주당배당금         920
배당수익률        0.82
Name: 1401, dtype: object
참
종목코드       036570
종목명        엔씨소프트
종가        385,500
대비        -15,000
등락률         -3.75
EPS        19,318
PER         19.96
선행 EPS     22,418
선행 PER      17.20
BPS       155,059
PBR          2.49
주당배당금       5,860
배당수익률        1.52
Name: 1420, dtype: object
참
종목코드       066970
종목명         엘앤에프
종가        216,500
대비            500
등락률          0.23
EPS             -
PER             -
선행 EPS      9,831
선행 PER      22.02
BPS        19,899
PBR         10.88
주당배당금           0
배당수익률         0.0
Name: 1446, dtype: object
참
종목코드      271560
종목명         오리온
종가        99,000
대비        -1,500
등락률        -1.49
EPS        6,519
PER        15.19
선행 EPS     8,867
선행 PER     11.17
BPS       55,935
PBR         1.77
주당배당금        750
배당수익률       0.76
Name: 1496, dtype: object
참
종목코드       316140
종목명       우리금융지주
종가         11,400
대비           -200
등락률         -1.72
EPS         3,481
PER          3.27
선행 EPS      4,396
선행 PER       2.59
BPS        35,494
PBR          0.32
주당배당금         900
배당수익률        7.89
Name: 1540, dtype: object
참
종목코드      000100
종목명        유한양행
종가        59,200
대비        -1,100
등락률        -1.82
EPS        1,496
PER        39.57
선행 EPS     1,656
선행 PER     35.75
BPS       28,297
PBR         2.09
주당배당금        400
배당수익률       0.68
Name: 1659, dtype: object
참
종목코드       139480
종목명          이마트
종가         85,500
대비         -1,000
등락률         -1.16
EPS        56,152
PER          1.52
선행 EPS     13,022
선행 PER       6.57
BPS       369,202
PBR          0.23
주당배당금       2,000
배당수익률        2.34
Name: 1687, dtype: object
참
종목코드        020150
종목명       일진머티리얼즈
종가          63,300
대비             800
등락률           1.28
EPS          1,361
PER          46.51
선행 EPS       2,396
선행 PER       26.41
BPS         21,440
PBR           2.95
주당배당금          300
배당수익률         0.47
Name: 1773, dtype: object
참
종목코드      035720
종목명         카카오
종가        50,100
대비        -2,200
등락률        -4.21
EPS        3,221
PER        15.55
선행 EPS     1,643
선행 PER     30.49
BPS       23,018
PBR         2.18
주당배당금         53
배당수익률       0.11
Name: 1917, dtype: object
참
종목코드       293490
종목명       카카오게임즈
종가         37,400
대비         -2,100
등락률         -5.32
EPS         7,073
PER          5.29
선행 EPS      3,052
선행 PER      12.25
BPS        27,171
PBR          1.38
주당배당금           0
배당수익률         0.0
Name: 1918, dtype: object
참
종목코드      323410
종목명       카카오뱅크
종가        19,850
대비          -400
등락률        -1.98
EPS          467
PER        42.51
선행 EPS       755
선행 PER     26.28
BPS       11,620
PBR         1.71
주당배당금          0
배당수익률        0.0
Name: 1919, dtype: object
참
종목코드      377300
종목명       카카오페이
종가        37,750
대비        -1,250
등락률        -3.21
EPS            -
PER            -
선행 EPS       128
선행 PER    294.40
BPS       12,839
PBR         2.94
주당배당금          0
배당수익률        0.0
Name: 1920, dtype: object
참
종목코드      021240

In [118]:
'삼성전자' in kospi100_arr

True

In [143]:
if (per100['종목명'][922].strip()) in kospi100_arr:
    print('참')
else:
    print('거짓')

참

In [142]:
per100['종목명'][922].strip() in kospi100_arr

True

In [123]:
("'"+per100['종목명'][30].strip()+"'") in kospi100_arr

False

In [85]:
a=['a','b','c']

In [100]:
if 'a' in a:
    print("참")

참

In [148]:
pd.read_csv('output.csv', columns=[''])

,035760,CJ ENM,"73,800","-2,400",-3.15,"9,332",7.91,"7,576",9.74,"182,220",0.41,"2,100",2.85
0,97950,CJ제일제당,"427,000",-500,-0.12,"38,246",11.16,"50,232",8.50,"381,542",1.12,"5,000",1.17
1,5830,DB손해보험,"56,300","-1,300",-2.26,"14,482",3.89,"11,963",4.71,"110,605",0.51,"3,500",6.22
2,383220,F&F,"143,000","-3,500",-2.39,"6,061",23.59,"13,887",10.30,"14,307",10.00,"1,100",0.77
3,78930,GS,"46,100",-300,-0.65,"15,304",3.01,"18,055",2.55,"108,672",0.42,"2,000",4.34
4,6360,GS건설,"22,250",-350,-1.55,"4,834",4.60,"5,728",3.88,"54,487",0.41,"1,300",5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,12330,현대모비스,"218,500",-500,-0.23,"25,645",8.52,"34,377",6.36,"387,397",0.56,"4,000",1.83
95,4020,현대제철,"29,150",-250,-0.85,"11,110",2.62,"8,836",3.30,"135,836",0.21,"1,000",3.43
96,329180,현대중공업,"111,000","-1,000",-0.89,-,-,"2,428",45.72,"63,015",1.76,0,0.00
97,5380,현대차,"162,000","-3,000",-1.82,"18,979",8.54,"30,151",5.37,"289,609",0.56,"5,000",3.09
98,8770,호텔신라,"62,700","-1,800",-2.79,714,87.82,"2,693",23.28,"15,228",4.12,200,0.32

In [149]:
pd.read_csv('/Users/lucy/Downloads/PERKOSPI100/PERKOSPI100.csv')

,종목코드,종목명,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
0,35760,CJ ENM,"73,800","-2,400",-3.15,"9,332",7.91,"7,576",9.74,"182,220",0.41,"2,100",2.85
1,97950,CJ제일제당,"427,000",-500,-0.12,"38,246",11.16,"50,232",8.50,"381,542",1.12,"5,000",1.17
2,5830,DB손해보험,"56,300","-1,300",-2.26,"14,482",3.89,"11,963",4.71,"110,605",0.51,"3,500",6.22
3,383220,F&F,"143,000","-3,500",-2.39,"6,061",23.59,"13,887",10.30,"14,307",10.00,"1,100",0.77
4,78930,GS,"46,100",-300,-0.65,"15,304",3.01,"18,055",2.55,"108,672",0.42,"2,000",4.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12330,현대모비스,"218,500",-500,-0.23,"25,645",8.52,"34,377",6.36,"387,397",0.56,"4,000",1.83
96,4020,현대제철,"29,150",-250,-0.85,"11,110",2.62,"8,836",3.30,"135,836",0.21,"1,000",3.43
97,329180,현대중공업,"111,000","-1,000",-0.89,-,-,"2,428",45.72,"63,015",1.76,0,0.00
98,5380,현대차,"162,000","-3,000",-1.82,"18,979",8.54,"30,151",5.37,"289,609",0.56,"5,000",3.09
99,8770,호텔신라,"62,700","-1,800",-2.79,714,87.82,"2,693",23.28,"15,228",4.12,200,0.32